#clockcontainer{
   border:2px solid black;
   margin:auto;
    height:40vw;
    width:40vw;
    background-image:url("https://i.pinimg.com/736x/76/70/99/767099598edc493f08b6477ea7285481.jpg");
    background-size: cover;
}
#hour ,#minute,#second{
    position :absolute ;
    background:black;
    border-radius:10px;

}
#hour{
    width:1%;
    height:49%;
    top:21%;
    left:49.5%;


}
#minute{
    width:1%;
    height:65%;
    top:7%;
    left:49.5%;
    opacity:0.8;
}
#second{
    width:0.5%;
    height:70%;
    top:2%;
    left:49.75%;
    opacity:0.8;
    display:none
    

}